* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
}
body {
  background-color: black;
}
header {
  background-color: #d3bf26;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  width: 100%;
  position: fixed;
}
nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  display: flex; 
  align-items: center; 
  gap: 20px; 
}
header nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  position: relative;
  
}

header nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: width 0.5s ease-in-out;
}

header nav ul li a:hover::after {
  width: 100%;
}

.menu2, .menu1 {
  display: flex;
  padding: 10px;
  gap: 15px;
  margin: 0px 20px;
}
li a {
  color: #000;
  font-weight: bolder;
}
.logo {
  width: 35%;
  margin-top: -2rem;
  margin-bottom: -3rem;
  margin-left: -3rem;
  }
.logo-container { 
  display: flex;
  justify-content: left;
  border: none; 
}
.container-principal {
  display: flex;
  justify-content: space-between;
  width: 100%;
  }

/* Seção de pesquisa */
.search {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 20px;
  width: 48%;
  }
.search h1 {
  background-color: #d3bf26; /* Cor de fundo amarela */
  color: black; /* Cor do texto preta */
  padding: 10px 20px; /* Adiciona espaçamento interno */
  font-size: 2.5em;
  text-align: center;
  font-weight:bold;
  margin-bottom: 2rem;
  width: 100%;
}
.search h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: white;
  margin: 2rem 0;
}
.search input,
.search button {
  padding: 20px 20px;
  border-radius: 5px;
  width: 80%;  /* Define a mesma largura para ambos */
  max-width: 400px; 
  text-align: center; /* Centraliza o texto */
  font-weight: lighter;
  font-size: 1.5rem;
}

.search input {
  border: 1px solid #ccc;
  margin-bottom: 10px; 
}

button {
  background-color: #d3bf26;
  color: #000;
  border: none;
  cursor: pointer;
}

button:hover{
  background-color: transparent;
  color: #FFF;
  text-decoration: underline;
  box-shadow: 0 0 10px 10px rgba(255, 255, 0, 1);
}
.search div { /* Estiliza a div que contém os resultados */
  margin-top: 10px; /* Espaçamento superior */
  color: white; /* Cor do texto */
  font-size: 1rem; /* Tamanho da fonte */
}

/* Seção do mapa */
.map {
  width: 45%; 
  padding: 1rem 4rem; 
}
.map img {
  width: 100%;
  }

/* Seção de imagens */
.pictures {
  display: flex;
  margin-top: 40px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 60px;
}
.pictures .imagem-container {
  width: 50%;
  overflow: hidden;
}
.pictures .imagem-container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* Estilos do rodapé */
footer {
  background-color: #d3bf26;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  margin-top: -10px;
}
.siga {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 20px;
}
.redes-sociais {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3rem;
}
.siga p {
  margin-top: 0.8rem;
  font-size: 1.6rem;
}
.redes-sociais a {
  display: flex;
  align-items: center;
}
.instagram {
  width: 100%;
  height: 100%;
}
.facebook {
  width: 100%;
  height: 100%;
}
.twitter {
  width: 100%;
  height: 100%;
}
.abertura {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.contato {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contato p {
  font-size: 1.8rem;
  margin-right: 20px;
  margin-bottom: 15px;
}
.contato img {
  width: 50px;
  height: 50px;
}