* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
}
body {
  background-color: black;
}
header {
  background-color: #d3bf26;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  z-index: 1;
  position: fixed;
  width: 100%;
}
nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  display: flex; 
  align-items: center; 
  gap: 20px; 
}
header nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.menu2 {
  display: flex;
  padding: 10px;
  gap: 15px;
  margin: 0px 20px;
}
li a {
  color: #000;
  font-weight: bolder;
}
.logo {
  width: 35%;
  margin-top: -2rem;
  margin-bottom: -3rem;
  margin-left: -3rem;
  }
.logo-container { 
  display: flex;
  justify-content: left;
  border: none; 
}
.container-principal {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid white;
}

/* Seção do título e mapa (novo contêiner) */
.container-mapa-titulo { 
  display: flex;
  align-items: flex-start; /* Alinha o título e o mapa no topo */
}
h1 {
  background-color: #d3bf26; /* Cor de fundo amarela */
  color: black; /* Cor do texto preta */
  padding: 10px 20px; /* Adiciona espaçamento interno */
  text-align: left; /* Alinha o texto à esquerda */
  width: 100%;
  margin-top: -2rem;
}
h3 {
  color: white;
  padding: 10px 20px;
  text-align: left;
  font-size: small;
  }

/* Seção de pesquisa */
.search {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 20px;
  width: 48%;
  border:1px solid red;
}
.search h1 {
  background-color: #d3bf26; /* Cor de fundo amarela */
  color: black; /* Cor do texto preta */
  padding: 10px 20px; /* Adiciona espaçamento interno */
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 2rem;
}
.search h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: white;
  margin: 2rem 0;
}
.search input {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  margin-bottom: 10px;
  font-weight: lighter;
}
.search button {
  background-color: #d3bf26;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 60%;
  cursor: pointer;
  font-weight: lighter;
}

/* Seção do mapa */
.map {
  width: 45%; 
  padding: 1rem 4rem; 
}
.map img {
  width: 100%;
  }

/* Seção de imagens */
.pictures {
  display: flex;
  margin-top: 40px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 60px;
}
.pictures .imagem-container {
  width: 50%;
  overflow: hidden;
}
.pictures .imagem-container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* Container principal */
.container-principal {
  display: flex;
  width: 100%;
  justify-content: space-between; 
  align-items: center;
  margin-top: 0;
}

/* Estilos do rodapé */
footer {
  background-color: #d3bf26;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  margin-top: -10px;
}
.siga {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 20px;
}
.redes-sociais {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3rem;
}
.siga p {
  margin-top: 0.8rem;
  font-size: 1.6rem;
}
.redes-sociais a {
  display: flex;
  align-items: center;
}
.instagram {
  width: 100%;
  height: 100%;
}
.facebook {
  width: 100%;
  height: 100%;
}
.twitter {
  width: 100%;
  height: 100%;
}
.abertura {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.contato {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contato p {
  font-size: 1.8rem;
  margin-right: 20px;
  margin-bottom: 15px;
}
.contato img {
  width: 50px;
  height: 50px;
}