* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
  scroll-behavior: smooth;
}
body {
  background-color: black;
}
header {
  background-color: #d3bf26;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
header nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  position: relative;
  
}

header nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: width 0.5s ease-in-out;
}

header nav ul li a:hover::after {
  width: 100%;
}

.menu2,
.menu1 {
  display: flex;
  padding: 10px;
  gap: 15px;
  margin: 0px 20px;
}
li a {
  color: #000;
  font-weight: bolder;
}
.logo {
  width: 40%;
  margin-top: -4rem;
  margin-left: -4rem;
  z-index: 0;
}
h1 {
  color: #d3bf26;
  text-align: center;
  font-size: 3rem;
  margin-top: -10rem;
  margin-bottom: 3rem;
}
.menu-cardapio {
  display: flex;
  justify-content: center;
  gap: 3rem; 
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.menu-cardapio .item {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}
.menu-cardapio img {
  border: 1px solid #cecccc;
  box-shadow: 0px 0px 10px #FFF;
  width: 100%; 
  height: auto;
  border-radius: 10px; 
}
.menu-cardapio p {
  margin-top: 10px;
  font-size: 1.4rem;
  color: #fff; 
}
.pizza-salgada {
  background-color: #d3bf26;
}
.salgada {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.4rem;
}
.sessao-pizza {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}
.sessao-pizza h3 {
  font-weight: bolder;
}
.bebidas {
  color: #d3bf26;
  padding: 2rem;
}
.sessao-bebida {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}
.sessao-bebida h3 {
  font-weight: bolder;
}
.sessao-bebida p {
  font-weight: normal;
  margin-top: 5px;
}
.sessao-doce {
  background-color: #d3bf26;
  padding: 2rem;
}
.pizza-doce {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}
.pizza-doce h3 {
  font-weight: bolder;
}
.pizza-doce p {
  font-weight: lighter;
  margin-top: 5px;
}
.pessoal {
  width: 100%;
}
.img-final {
  width: 100%;
}
footer {
  background-color: #d3bf26;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  margin-top: -10px;
}
.siga {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 20px;
}
.redes-sociais {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3rem;
}
.siga p {
  margin-top: 0.8rem;
  font-size: 1.6rem;
}
.redes-sociais a {
  display: flex;
  align-items: center;
}
.instagram {
  width: 100%;
  height: 100%;
}
.facebook {
  width: 100%;
  height: 100%;
}
.twitter {
  width: 100%;
  height: 100%;
}
.abertura {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.contato {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contato p {
  font-size: 1.8rem;
  margin-right: 20px;
  margin-bottom: 15px;
}
.contato img {
  width: 50px;
  height: 50px;
}